<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">회비</h1>
</div>
<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            입금 123,123</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">123,123원</div>
                    </div>
                    <div class="col-auto">
                         월회비 (이뇨싸개)
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            출금 100,000</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">40,000원</div>
                    </div>
                    <div class="col-auto">
                         회식
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>